@model IEnumerable<practiceA.Models.Party>

@{
    ViewBag.Title = "InviteCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/jquery.datetimepicker.css")
@Styles.Render("~/Content/colorpicker.css")
@Styles.Render("~/Content/layout.css")
@Styles.Render("~/Content/jack.css")
@Scripts.Render("~/Scripts/jquery.js")
@Scripts.Render("~/Scripts/jquery.datetimepicker.full.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
@Scripts.Render("~/Scripts/colorpicker.js")
@Scripts.Render("~/Scripts/eye.js")
@Scripts.Render("~/Scripts/utils.js")
@Scripts.Render("~/Scripts/layout.js?ver=1.0.")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Party</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (var item in Model)
        {
            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.partyName)</label>
                <div class="col-md-10">
                    <label class="form-url">@Html.DisplayFor(modelItem => item.partyName)</label>
                </div>
            </div>
            @Html.EditorFor(modelItem => item.partyName, new { htmlAttributes = new { style = "display:none;" } })
            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.shopName)</label>
                <div class="col-md-10">
                    <label class="form-url">@Html.DisplayFor(modelItem => item.shopName)</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.address)</label>
                <div class="col-md-10">
                    <label class="form-url">@Html.DisplayFor(modelItem => item.address)</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.phone)</label>
                <div class="col-md-10">
                    <label class="form-url">@Html.DisplayFor(modelItem => item.phone)</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.note)</label>
                <div class="col-md-10">
                    <label class="form-url">@Html.DisplayFor(modelItem => item.note)</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.time)</label>
                <div class="col-md-10" style="padding-left: 25px;">
                    <label id="partyTime" class="form-url" style="display:none;">@Html.DisplayFor(modelItem => item.time)</label>
                </div>
            </div>
            @Html.EditorFor(modelItem => item.time, new { htmlAttributes = new { style = "display:none;" } })
            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.nickName)</label>
                <div class="col-md-10" style="padding-left: 25px;">
                    @Html.EditorFor(modelItem => item.nickName, new { htmlAttributes = new { @class = "form-control", style = "background-color:#c1c1eb;" } })
                    @Html.ValidationMessageFor(modelItem => item.nickName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.color)</label>
                <div class="col-md-10" style="padding-left: 25px;">
                    <div id="colorSelector"><div style="background-color: #c1c1eb;"></div></div>
                    @Html.EditorFor(modelItem => item.color, new { htmlAttributes = new { @class = "form-control", @Value = "#c1c1eb", style = "display:none;" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="send" type="submit" value="送出" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}

<script type="text/javascript">
    (function (window) {
        let document = window.document, $ = window.jQuery, d = new Date()
        $('#colorSelector').ColorPicker({
            color: '#c1c1eb',
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500)
                return false
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500)
                return false
            },
            onChange: function (hsb, hex, rgb) {
                $('#colorSelector div').css('backgroundColor', '#' + hex)
                $('#item_nickName').css('background-color', '#' + hex)
                $('#item_color')[0].value = '#' + hex
            }
        })
        $('#item_nickName')[0].value = ""
        $.ajax({
            url: "/Party/MyProperty",
            type: "POST",
            dataType: "json",
            success: function (data) {
                let result = []
                for (let temp in JSON.parse(data)) {
                    result[temp] = JSON.parse(JSON.parse(data)[temp])
                }
                appendTimeNode(result)
            }
        });
        function appendTimeNode(data) {
            let timeStr = $('#partyTime')[0].innerText, endCtr
            do {
                endCtr = timeStr.indexOf(",")
                if (endCtr === -1) {
                    for (let temp in data) {
                        if (data[temp].time.indexOf(timeStr) !== -1) {
                            $("<a> </a><a style='background-color:" + data[temp].color + "; color:black; text-decoration: none;'>" + data[temp].nickName + "</a>").insertAfter($('#partyTime'))
                        }
                    }
                    $("<input type='checkbox' name='checkTime' value='" + timeStr + "'><label type='text' class='form-url'>" + timeStr + "</label>").insertAfter($('#partyTime'))
                }
                else {
                    for (let temp in data) {
                        if (data[temp].time.indexOf(timeStr.substring(0, endCtr)) !== -1) {
                            $("<a> </a><a style='background-color:" + data[temp].color + "; color:black; text-decoration: none;'>" + data[temp].nickName + "</a>").insertAfter($('#partyTime'))
                        }
                    }
                    $("</br><input type='checkbox' name='checkTime' value='" + timeStr.substring(0, endCtr) + "'><label type='text' class='form-url'>" + timeStr.substring(0, endCtr) + "</label>").insertAfter($('#partyTime'))
                    timeStr = timeStr.substring(endCtr + 1)
                }
            } while (endCtr !== -1)
        }
        $('#send').click(function () {
            let checkTime = $("[name=checkTime]"), firstTime = true
            $('#item_time')[0].value = ""
            for (let temp = 0; temp < checkTime.length;temp++)
            {
                if (checkTime[temp].checked) {
                    if (firstTime) {
                        $('#item_time')[0].value = checkTime[temp].value
                        firstTime = false
                    }
                    else {
                        $('#item_time')[0].value += "," + checkTime[temp].value
                    }
                }
            }
        })
        /*
        $('#invited_true').click(function () {
            if (this.checked == true) {
                $('#invited_true')[0].checked = true;
                $('#invited_false')[0].checked = false;
                $("[name=chooseHiden]")[0].style = "";
                $("[name=chooseHiden]")[1].style = "";
                $("[name=chooseHiden]")[2].style = "";
            }
        })
        $('#invited_false').click(function () {
            if (this.checked == true) {
                $('#invited_true')[0].checked = false;
                $('#invited_false')[0].checked = true;
                $("[name=chooseHiden]")[0].style = "display:none;";
                $("[name=chooseHiden]")[1].style = "display:none;";
                $("[name=chooseHiden]")[2].style = "display:none;";
            }
        })
        */
    })(window)
</script>
